<% if user_signed_in? %>
  <%= button_to 'Project', projects_path, class: 'btn btn-primary' %>
  <ul>
  <% Project.where(user: current_user).each do |project| %>
    <li><%= project %> <%= link_to 'Remover', project_path(project.id), method: :delete, class: 'btn btn-danger'%></li>
  <% end %>
  </ul>
<% else %>
    <%= link_to "Efetuar Login", new_user_session_path, method: :get %>
<% end %>
